.restock {
  /* background-color: #37526d; */
  background-color: #608bb6;
  border: none;
  color: white;
  padding: 3px 6px;
}
.deliver {
  background-color: #80aced;
  color: white;
  border: none;
  border-radius: 5px;
}

input[type="number"] {
  background-color: white;
  border: 1px solid #dbd9d9;
  border-radius: 4px;
  width: 100px;
}

input[type="number"]:focus {
  background-color: white;
  border: 1px solid #dbd9d9;
  border-radius: 4px;
  width: 60px;
  outline: none;
}
.detailManage{
  background-color: #F9AD81;
  color: white;
  border: none;
  padding: 4px 6px;
  border-radius: 5px;

}
