.restock {
  background-color: #37526d;
  border: none;
  color: white;
  padding: 2px 6px;
}
.deliver {
  background-color: #80aced;
  color: white;
  border: none;
}

input[type="number"] {
  background-color: white;
  border: 1px solid #dbd9d9;
  border-radius: 4px;
  width: 80px;
}

input[type="number"]:focus {
  background-color: white;
  border: 1px solid #dbd9d9;
  border-radius: 4px;
  width: 60px;
  outline: none;
}
