.product{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.update{
    background-color: #80ACED;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}
.price{
    color: #f9ad81 ;
}
