.product{
    position: relative;
    height: 260px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
}
.update{
    background-color: #80ACED;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}
.price{
    color: #f9ad81 ;
}
/* .update:hover{
    background-color: white ;
    color: #6768AB;
    border: 1px solid #6768AB;
} */